body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    flex-direction: row;
}

.content{

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resources, .log {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;

}

.resources div {
    margin-bottom: 10px;
}

.main-menu {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.section h4 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tablink {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active {
    background-color: #ccc;
}

button {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
}

h2 {
    color: #333;
}
.building-controls {
    display: grid;
    gap: 10px; /* Espacio entre filas */
    justify-content: center;
}

.control-group {
    display: grid;
    grid-template-columns: auto 40px 40px 40px; /* 1fr para el texto, y 40px para cada botón y el número */
    align-items: center;
    gap: 10px; /* Espacio entre elementos dentro de cada grupo */
}

.control-group button, .control-group span {
    text-align: center;
    min-width: 40px; /* Asegura que todos los botones y el span tengan el mismo ancho */
}

/* Ajuste opcional para mejorar la visibilidad y alineación */
.control-group span {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: grey;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: min-content;
    
}


/*Sacado de w3school tooltips*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  